html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(226, 226, 226);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

form{
    text-align: center;
    margin: 0 auto;
}

button{
    background-color: #3D9C05 !important;
    color: #fff !important;
}

button:hover{
    text-shadow: 0 0 4px #fff, 0 0 4px #fff;
    transition-property: text-shadow;
    transition-duration: 0.5s;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: text-shadow;
    -moz-transition-duration: 0.5s;
}

#msg{
    background-color: rgb(231, 199, 199);
    color:rgb(145, 4, 4);
    margin-top: 20px;
    padding: 0;
}